@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  opacity: 0.6;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(128, 128, 128, 0.5);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.ant-table-wrapper .ant-table-container {
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}

.ant-steps-item-title {
  width: 100%;
}
